.authorIntro {
  background-image: url(images/background2.png);
  background-repeat: no-repeat;
  background-size: 1249px 1060px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh; }
  .authorIntro .background_number5 {
    font-size: 32em;
    color: rgba(88, 88, 88, 0.1);
    padding-left: 8vw; }
  .authorIntro .author_title {
    padding: 2rem;
    position: absolute;
    top: -5vh;
    left: 7vw; }
    .authorIntro .author_title .author {
      font-size: 5em;
      color: #ff0000; }
      .authorIntro .author_title .author span {
        font-size: 3em;
        padding-right: 3VW; }
    .authorIntro .author_title .author_small {
      font-size: 25px;
      width: 18%;
      position: absolute;
      top: 18vh;
      left: 8vw; }
    .authorIntro .author_title .author_sentence {
      width: 30%; }
  .authorIntro .about_author {
    padding-top: 17vh;
    padding-left: 5vw; }
  .authorIntro_rightside {
    padding: 2rem; }
    .authorIntro_rightside .author_chapter_img {
      border-radius: 50%;
      width: 70px;
      height: 70px; }
    .authorIntro_rightside .author_chapter_info .author_chapter_fname_age {
      padding-left: 10vw; }
    .authorIntro_rightside .author_chapter_info .author_chapter_location {
      padding-left: 10vw; }
    .authorIntro_rightside .author_chapter_info .author_chapter_story {
      font-size: 14px;
      position: absolute;
      left: 85vw; }
