.authorIntro {
    background-image: url(images/background2.png);
    background-repeat: no-repeat;
    //background-size: 1249px 1060px;
    position: relative;
    display: flex;
    height: 100vh;
    margin-top: 200vh;


    @include screen-notebook {
        background-size: 1020px 1060px;
    }

    .background_number5 {
        font-size: 32em;
        color: rgba($color: #585858, $alpha: 0.1);
        //z-index: -100;
        padding-left: 8vw;


    @include screen-notebook {
        font-size: 28em;
        padding-left: 20vw;
    }


    }

    .author_title {
        padding: 2rem;
        position: absolute;
        top: -5vh;
        left: 7vw;


    @include screen-notebook {
        top: -10vh;
    }

        .author {
            font-size: 5em;
            color: #ff0000;

            span {
                font-size: 3em;
                padding-right: 3VW;
            }

            @include screen-notebook {
                font-size: 4em;
            }
        }

        .author_small {
            font-size: 25px;
            width: 18%;
            position: absolute;
            top: 18vh;
            left: 8vw;

            @include screen-notebook {
                font-size: 22px;
                width: 45%;
                left: 10vw;
            }
        }

        .authorIntro_description {
            //width: 30%;

            @include screen-notebook {
                //width: 100%;
            }

            p {
                @include screen-notebook {
                    width: 80%;
                    font-size: 14px;
                }
            }
        }
    }

    .about_author {
        // padding-top: 17vh;
        // padding-left: 5vw;

        @include screen-notebook {
            padding:2rem;
            text-align: center;
            margin-left: -20vw;
            margin-top: 10vh;
        }

        .author_pic {
            @include screen-notebook {
                
              

            }
        }

        .author_name_position {

            @include screen-notebook {
              
            }
        }
    }

    &_rightside {
        padding: 2rem;

        @include screen-notebook {
            margin-left: 3vw;
            padding-top: 11vh;
        }

        .rightside_title {
            position: relative;
            @include screen-notebook {
                white-space: nowrap;

                
            }

            &:after {
                content: "";
                position: absolute;
                top: 2vh;
                left: 14vw;
                height: 1px;
                width: 20em;
                background-color: #000;
            }
        }

        .nameData {
            //display: flex;
           

            @include screen-notebook {
                padding-top: 5vh; 

            }

        }

        .testImg {
            border-radius: 50%;
        

        }

        .test_name_location {
        

            .testName {

                @include screen-notebook {
                    padding-left: 10vw; 
                    margin-top: -8vh;  
                    //padding-left: 2rem; 
                }
                
    
            }
    
            .testLocation {
                @include screen-notebook {
                    padding-left: 10vw; 
                    white-space: nowrap;
                }
            }

        }

        .authorIntro_rightside_article {

            @include screen-notebook {
                padding-top: 30vh;
                margin-left: -5vw;
            }
           
            .authorIntro_articles {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    top: 2vh;
                    left: 7vw;
                    height: 1px;
                    width: 30em;
                    background-color: #000;
                }

                .articles_list {
                    @include screen-notebook {

                    }

                    .the_excerpt {

                        @include screen-notebook {
                            
                        }

                    }
                }

            }
        }
    }
}