.chapterIntro-header {
  margin-top: -50px;
  background-image: url(images/background2.png);
  background-repeat: no-repeat;
  background-size: 2049px 1060px;
  display: flex;
  padding: 2rem;
  //height: 100vh;

  .Slider {
    padding: 2rem;
    margin-top: 10vh;
    margin-left: 4vw;
    width: 50%;
    //height: 500vh;
    opacity: 0;
   
    
    .chapters-list {
      
    &.is-selected {
    }
  }

    .chapter_avatar {

      .chapter_info {
        opacity: 0;

        .chapter_overlay {
          .chapter_fname_age {
            font-weight: bold;
          }

          .chapter_location {
            position: relative;
            display: inline-block;
            padding-left: 2.5em;

            &:after {
              content: "";
              position: absolute;
              left: -0em;
              top: 50%;
              height: 1px;
              width: 2.0em;
              background: #333;
              // transform: translateY(-50%);

            }
          }
        }
      }


        &.is-selected {
          .chapter_info{
          opacity: 1;
          //transform: translateY(100%);
          transition: opacity .5s ease-out .7s;
          //transform: translateY(100%);
          }
        }
      

      .the-img {
        overflow: hidden;

        img {
          width: 250px;
          height: 350px;
          transform: translateY(100%);
          transition: all 900ms ease;
         
          //position: relative;
        }
      }
    }

    .chapter_avatar {
      //transform: translateY(100%);

      &.is-selected {
        .the-img {
          overflow: hidden;

          img {
            position: relative;
            width: 300px;
            height: 400px;
            transform: translateY(0%);
				    transition-delay: 500ms;
          
          }

        }
        
      }
    }
  }

  .flickity-enabled {
    position: relative;
  }

  .flickity-enabled:focus {
    outline: none;
  }

  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  /* draggable */

  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }

  /* ---- flickity-button ---- */

  .flickity-button {
    position: absolute;
    background: #ff0000;
    border: none;
    color: #333;
    transition: 0.3s;
  }

  .flickity-button:hover {
    // background: white;
    opacity: 0.6;
    // cursor: pointer;
  }

  .flickity-button:focus {
    outline: none;
    // box-shadow: 0 0 0 5px #19f;
  }

  .flickity-button:active {
    opacity: 0.6;
  }

  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }

  .flickity-button-icon {
    fill: #fff;
  }

  /* ---- previous/next buttons ---- */

  .flickity-prev-next-button {
    // top: 95%;
    width: 44px;
    height: 44px;
    /* vertically center */
    transform: translateY(-50%);
  }

  .flickity-prev-next-button.previous {
    left: 10px;
  }

  .flickity-prev-next-button.next {
    right: 10px;
  }

  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
  }

  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
  }

  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }

  // .carousel-display {
  //   position: absolute;
  //   overflow: hidden;
  //   height: 200px;
  //   width: 100%;
  // }

  // .carousel-cell {
  //   width: 100%;
  //   height: 200px;
  //   counter-increment: carousel-cell;
  // }

  // .main-carousel .carousel-cell {
  //   width: 50%;
  //   height: 128px;
  //   margin-right: 8px;
  // }

  .chapterIntro-rightside {
    padding: 2rem;
    width: 40%;
    //opacity: 0;

    .background-number3 {
      font-size: 32em;
      color: rgba($color: #585858, $alpha: 0.2);
      z-index: -100;
      opacity: 0;


      @include screen-notebook {
        font-size: 26em;
      }

    }

    .chapterIntro-story {
      position: absolute;
      top: 210%;
      width: 30%;




      .big-title {
      

        @include screen-notebook {
          margin-top: -4vh;
      }

        #box6 {
          height: 120px;
          width: 500px;
         // margin-left: 300px;
          transform: translateY(-50%);
          overflow: hidden;
  
          @include screen-notebook {
              height: 60px;
              width: 500px;
              //margin-left: 300px;
              transform: translateY(-50%);
              overflow: hidden;
                  
          }
  
          .colorLayer3 {
              height: 120px;
              width: 500px;
              background-color: #ff0000;
              position: absolute;
              left: -500px;
              //z-index: 9;
  
              @include screen-notebook {
                  height: 60px;
                  width: 500px;
                  background-color: #ff0000;
                  position: absolute;
                  left: -500px;
                      
              }
          }
  
          .chapterIntro-h1 {
              font-size: 80px;
              color: #ff0000;
              //line-height: 10px;
              position: absolute;
              left: -500px;
              //z-index: 1;
  
              @include screen-notebook {
                  font-size: 50px;
                  color: #ff0000;
                  //line-height: 10px;
                  position: absolute;
                  left: -500px;
                  padding-left: 50px;
                      
              }
          }
          &:after {
            content: "";
            position: absolute;
            left: -1vw;
            top: 3vh;
            height: 30px;
            width: 3.5em;
            background: #ff0000;
          }
      }
    }

    .right_elements {
      opacity: 0;

      .chapterIntro-small {
        font-size: 20px;
        width: 45%;
        padding-top: 20px;
        padding-left: 80px;
      }

      .chapterIntro-explenation {
        padding-top: 12vh;
        padding-left: 4vw;
        height: 50vh;
        overflow: auto;
        direction: rtl;
        display: block;

        p {
          font-size: 14px;
          text-align: justify;
          direction: ltr;
        }
      }
    }

    }
  }
}

//右から
.isPlay9 {
  animation-name: play9;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.8,0,.5,1);
  position: relative;
  opacity: 1 !important;
}

.isPlay9:before {
  // animation-name: maskOut9;
  // animation-duration: .5s;
  // animation-delay: .5s;
  // animation-fill-mode: forwards;
  // animation-timing-function: cubic-bezier(.8,0,.5,1);
  // content: '';
  // position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 1;
  // width: 100%;
  // height: 100%;
  //background-image: linear-gradient( 109.6deg,  rgb(243, 32, 32) 11.2%, rgb(247, 6, 6) 91.1% );
}


@keyframes play9 {
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(0);
  }
}

@keyframes maskOut9 {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}

//下から
.isPlay10 {
  animation-name: play10;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.8,0,.5,1);
  position: relative;
  opacity: 1 !important;
}


@keyframes play10 {
  from {
    transform: translateY(100%);
  }
  
  to {
    transform: translateX(0);
  }
}

// @keyframes maskOut8 {
//   from {
//     transform: translateX(0);
//   }
  
//   to {
//     transform: translateY(-100%);
//   }
// }
