.masterIntro {
    background-image: url(images/background2.png);
    background-repeat: no-repeat;
    background-size: 2049px 1060px;
    position: relative;
    //display: flex;
    height: 100vh;

    
    .mentor_right {
        padding: 2rem;
     

        .background_number6 {
            font-size: 32em;
            color: rgba($color: #585858, $alpha: 0.1);
            padding-left: 14vw;

            @include screen-notebook {
                font-size: 26em;
                padding-left: 35vw;
                margin-top: -340vh;
             
            }
        }

        .mentor_title {
            padding: 2rem;
            position: absolute;
            top: -5vh;
            left: 47vw;

            @include screen-notebook {
                top: -12vh;
            }

            .mentorM {
                font-size: 4em;
                color: #ff0000;

                @include screen-notebook {
                    font-size: 120px;
                }
            }

            .mentor {
                @include screen-notebook {
                    font-size: 50px;
                    color: #ff0000;
                    margin-top: -33vh; 
                    padding-left: 8vw;
                }
            }

            .mentor_small {
                font-size: 25px;
                width: 30%;
                margin-top: -10vh;
                // position: absolute;
                // top: 18vh;
                // left: 8vw;

                @include screen-notebook {
                    font-size: 22px;
                    width: 40%;
                    padding-left: 9vw;
                    padding-top: 5vh;

                }

            }

            .mentor_sentence {
                width: 65%;
                text-align: justify;
                padding-top: 10vh;
                padding-left: 10vw;

                @include screen-notebook {
                    width: 80%;
                    margin-left: -5vw;
                    font-size: 14px;
                }
            }

        }

    }

}



.slide{ 
    //display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 10vw; 
    padding-top: 10vh;
  }
  
  .card{
    width: 50vmin;
    height: 37vmin;
    display: flex;
    background-color:transparent;
    
  }
  
  .card__img{
    background-position: center;
    width: 40%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    .mentorImg {

        @include screen-notebook {
            width: 15vw;
            height: 45vh
        }
        
    }
    
  }
  
//   #img01{
//     background-image: url("http://www.movingimagesmedia.com/images/gallery/10.jpg");
//   }
  
//   #img02{
//     background-image: url("http://www.movingimagesmedia.com/images/gallery/9.jpg");
//   }
  
//   #img03{
//     background-image: url("http://www.movingimagesmedia.com/images/gallery/8.jpg");
//   }
  
  .card__content{
    //padding: 10% 5%;
    box-sizing: border-box;
    width: 50%;
  }
  
  .card__content-theme{
    //font-weight: 900;
    //font-size: 1.7vmin; 
  }
  
  .card__content-header{
    // font-weight: 900;
    // font-size: 54px;
    // font-size: 7vmin;
    // text-transform: capitalize;
    // letter-spacing: 0.01em;
    // line-height: 0.91;
    // margin: 3vmin 0 3.5vmin; 
        position: relative;

    @include screen-notebook {
        padding-top: 15vh;
    } 

    &:after {
        @include screen-notebook {
            content: "";
            position: absolute;
            top: 17vh;
            left: 6vw;
            height: 1px;
            width: 7vw;
            background-color: #000; 
        }
          
    }
  }
  
  .card__content-paragraph{

    @include screen-notebook {
       
    }
    

    .shisonImg {
        @include screen-notebook {
            border-radius: 50%;
        }

        .shison_name_location {
            
            .shisonName {

                @include screen-notebook {
                    //margin-left: 10vw; 
                    //margin-top: -8vh;  
                    //padding-left: 2rem; 
                    
                }
            }
    
            .shisonLocation {
                @include screen-notebook {
                    //padding-left: 10vw; 
                    //white-space: nowrap;
                }
            }

        }
    }
  }
  
  .card__content-link{
    color: #BA3428;
    font-size: 1.8vmin;
    display: block;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  
    &:hover{
      opacity: 1;
    }
  
    &:after{
      content: ' →'
    }
  }
  
  .prevnext{
    position: absolute;
    width: 4vmin;
    height: 8vmin;
    right: 5%;
    bottom: 0;
    top: -40vh;
    margin: auto 0;
  }
  
  .prevnext-button{
    width: 100%;
    height: 50%;
    border: 0;
    background-color: transparent;
    font-size: 14px;
    white-space: nowrap;
  }
  
  #prev, #next{
    position: relative;
    cursor: pointer;
    color: #000;
    
    &:hover{
    
      &:after, &:after{
        opacity: 1;
      }
    }
  }
  
  #prev:after, #next:after{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100vw;
    right: 0;
    top: 40vh;
    bottom: 0;
    margin: auto;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  #prev:after{
    content: 'PREV MENTOR';
  }
  
  #next:after{
    content: 'NEXT MENTOR';
  }